.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

/* Ajustes adicionales para ocupar toda la pantalla */
.formulario {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  margin-left: 10px;
}

table {
  width: 100%;
  max-width: 550px; 
  border-collapse: collapse;
  border: 1px solid #000;
}

/* Estilos para la tabla */
.table-container {
  width: 100%;
  overflow-x: auto;
  margin-bottom: 20px;
}

/* Contenedor principal */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Contenedor de la tabla y botones */
.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.button-container button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
}

.centered-text {
  text-align: center;
}

.centered-buttons {
  display: flex;
  justify-content: center;
}

.conteiner_cert{
  width: 550px;
  border-collapse: separate;
  border-spacing: 10px; 
  margin-left: 10px;
  margin-right: 10px;
}

/* Estilos para los td dentro de la tabla */
.conteiner_cert td {
  padding: 10px;
}

.arrow-container {
  text-align: left;
  width: 100%;
}

.title{
  text-align: center;
  margin-bottom: 5px;
  margin-top: 5px;
}

.form-title {
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
}

.nowrap {
  white-space: nowrap;
}

.picture_nameplate {
  text-align: left;
}

.custom-box {
  width: 4.6cm;
  min-width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 4.6px;
}

.custom-box2 {
  width: 7.6cm;
  min-width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 4.6px;
}

/* Estilos para la sección 12 */
.traceability-section {
  display: flex;
  align-items: center;
}

/* Estilos para el contenedor de texto 12 */
.text-container {
  flex-grow: 1;
}

/* Estilos para la etiqueta del checkbox y el texto "ATTACHED" 12 */
.attachment-label {
  display: flex;
  align-items: center;
}

.attachment-text {
  margin-left: 5px; /* Espacio entre el checkbox y el texto "ATTACHED" 12 */
}

.numero{
  border-collapse: collapse;
  border: 1px solid #000;
}